
.content-center {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px){
  .p-rigth-10 {
    padding-right: 10px;
    //background-color: red;
  }

  .p-left-10 {
    padding-left: 10px;
    //background-color: yellow;
  }

}
