<clic-page [title]="'Listado de Grupos'" (reloadEmitter)="this.ngOnInit()">
  <div fxLayout="row wrap">
    <div [fxFlex]="this.flex" fxLayoutAlign="start center" class="h-padding-5">
      <button mat-raised-button class="btn-full" color="accent" (click)="this.createGroup()">Nuevo Grupo</button>
    </div>
    <div [fxFlex]="this.flex===100?100:100-this.flex" fxLayoutAlign="center center" class="h-padding-5">
      <mat-form-field>
        <input matInput placeholder='Buscar...' maxlength="30" (keyup)="this.onGroupFilter($event.target.value)"/>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" class="h-padding-5">
    <div fxFlex="100">
      <ngx-datatable 
                    #table class="material"
                     [messages]="this.tableMessages()"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [limit]="10"
                     [scrollbarH]="this.scrollH"
                     [rows]="this.groupList">

        <ngx-datatable-column name="Acciones" [maxWidth]="200" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button matTooltip="Actualizar Grupo" (click)="this.editGroup(row)"><mat-icon fxLayoutAlign="start start" color="accent">edit</mat-icon></button>
            <button mat-icon-button matTooltip="Asignar Usuarios" (click)="this.configGroup(row)"><mat-icon fxLayoutAlign="start start" color="accent">group</mat-icon></button>
            <button mat-icon-button (click)="this.changeGroupState(row)"><mat-icon fxLayoutAlign="start start" color="{{row.estadoGrupo === 'ACTIVO'?'warn':'accent'}}" matTooltip="{{row.estadoGrupo === 'ACTIVO'?'Bloquear grupo':'Activar grupo'}}">{{row.estadoGrupo === 'ACTIVO' ? 'close' : 'check'}}</mat-icon></button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Grupo" [draggable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
            {{row.nombre}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" [draggable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.descripcion}}
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Fecha Creacion" [maxWidth]="200" [draggable]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.createdDate | date: 'dd/MM/yyyy, H:mm'}}
            </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Estado" [maxWidth]="150" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="{{row.estadoGrupo === 'ACTIVO'?'primary-state':'warn-state'}}"><span
              class="text-white">{{row.estadoGrupo}}</span></div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</clic-page>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
