<mat-card>
  <mat-card-header class="bg-primary-theme text-white">
    <mat-card-title>{{form.controls['enfermedadId'].value?"Actualizar Enfermedad":"Registro de Enfermedad"}}</mat-card-title></mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap" [formGroup]="this.form">
      <div fxFlex="100">
        <mat-form-field>
          <mat-select placeholder="Clasificación Enfermedades" [formControl]="this.form.get('enfermedadId')">
            <mat-option *ngFor="let enfermedad of this.enfermedades" [value]="enfermedad.id">
              {{enfermedad.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="5px" >
      <button mat-stroked-button color="warn" type="button" (click)="this.cancel()">Cancelar</button>
      <button mat-flat-button color="accent" type="button" [disabled]="!this.form.valid" (click)="this.save()">Guardar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
