<clic-page [title]="'Seguimiento de Diagnósticos'" (reloadEmitter)="this.ngOnInit()">
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field class="picker-date-filter">
        <input matInput [matDatepicker]="startDate" [max]="this.today" placeholder="Fecha Inicial"
               [formControl]="this.form.get('from')" readonly>
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field class="picker-date-filter">
        <input matInput [matDatepicker]="endDate" [max]="this.today" placeholder="Fecha Final"
               [formControl]="this.form.get('to')" readonly>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Departamento" [formControl]="this.form.get('departamentoId')">
          <mat-option (click)="selectMunicipio(0)" [value]="0">Todos</mat-option>
          <mat-option (click)="selectMunicipio(dto)" *ngFor="let dto of this.departamentoList" [value]="dto.id">
            {{dto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Municipio" [formControl]="this.form.get('municipioID')">
          <mat-option (click)="selectCentro(0)" [value]="0">Todos</mat-option>
          <mat-option (click)="selectCentro(dto)" *ngFor="let dto of this.tempMunicipio" [value]="dto.id">
            {{dto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Centro de Salud" [formControl]="this.form.get('centroSaludId')">
          <mat-option [value]="0">Todos</mat-option>
          <mat-option *ngFor="let dto of this.tempCentro" [value]="dto.id">
            {{dto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Enfermedad" [formControl]="this.form.get('enfermedadId')">
          <mat-option [value]="0">Todos</mat-option>
          <mat-option *ngFor="let enfermedad of this.enfermedadList" [value]="enfermedad.id">
            {{enfermedad.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Clasificación Enfermedades" [formControl]="this.form.get('clasificacion')">
          <mat-option *ngFor="let clasificacion of this.clasificacionList" [value]="clasificacion.key">
            {{clasificacion.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <input matInput maxlength="50" placeholder="Nombre del Paciente (Opcional)"
               [formControl]="this.form.get('nombrePaciente')">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" class="h-padding-5">
      <button mat-flat-button color="accent" (click)="this.onSearch()">Buscar</button>
    </div>
    <div fxFlex="100" class="p-5">
      <ngx-datatable #table class="material" [messages]="this.tableMessages()"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [scrollbarH]="true"
                     [externalPaging]="true"
                     [rowHeight]="'auto'"
                     [count]="this.pageControl.totalElements"
                     [offset]="this.pageControl.number"
                     [limit]="this.pageControl.size"
                     [rows]="this.pageControl.content"
                     (page)='this.setPage($event)'>

        <ngx-datatable-column name="Acciones" [maxWidth]="80" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row" fxFlexAlign="start start">
              <div fxFlex="100" fxFlexAlign="center top">
                <button mat-icon-button matTooltip="Detalles" (click)="fichaEpidemiologica(row)" >
                  <mat-icon color="accent">add</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha Registro" [maxWidth]="250" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fechaRegistro | date: "dd/MM/yyyy H:mm"}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nombre" [maxWidth]="300" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombrePaciente | deleteUnderline}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Teléfono" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="validateNumber(row.telefono)">
              <i class="fa fa-whatsapp"></i>
              <a href="{{row.urlWhatsApp}}" [target]="'_blank'">
                {{row.telefono}}
              </a>
            </div>
            <div *ngIf="!validateNumber(row.telefono)">
              {{row.telefono}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Dirección" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.direccion}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valoración" [draggable]="false" [resizeable]="false" cellClass="cell-align-rigth">
          <ng-template let-row="row" ngx-datatable-cell-template  class="text-bottom">
            {{row.valoracion}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Zona" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.zona}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Ubicación Geográfica" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i class="fa fa-map-o"></i>
            <a href="{{row.urlCoordenada}}" [target]="'_blank'">
              {{ 'Ver ubicación' }}
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Clasificación" [maxWidth]="250" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.clasificacion==='NEGATIVO'" class="color-green">{{row.clasificacion}}</div>

            <div *ngIf="row.clasificacion==='CONFIRMADO'" class="color-red">{{row.clasificacion}}
            </div>
            <div *ngIf="row.clasificacion==='SOSPECHOSO'" class="color-yellow" >{{row.clasificacion}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Enfermedad" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.enfermedad}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</clic-page>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
