<clic-page [title]="'Listado de Centros de Salud'" (reloadEmitter)="this.ngOnInit()">
    <br>
    <div fxLayout="row wrap">
        <mat-form-field>
            <mat-label>Seleccione un Departamento</mat-label>
            <mat-select [(ngModel)]="selectDepa" (selectionChange)="selectDepartamento($event.value)">
                <mat-option *ngFor="let depa of depaList" [value]="depa">{{depa.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Seleccione un Municipio</mat-label>
            <mat-select [(ngModel)]="selectMuni" (selectionChange)="selectMunicipio($event.value)">
                <mat-option *ngFor="let muni of muniList" [value]="muni">{{muni.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div [fxFlex]="this.flex" fxLayoutAlign="start center" class="h-padding-5">
            <button mat-raised-button class="btn-full" color="accent" (click)="this.openDialog(null)">Nuevo Centro de Salud</button>
        </div>

        <div [fxFlex]="this.flex===100?100:100-this.flex" fxLayoutAlign="center center" class="h-padding-5">
            <mat-form-field>
                <input matInput placeholder='Buscar...' (keyup)="this.onFilter($event.target.value)" maxlength="30" />
            </mat-form-field>
        </div>


    </div>

    <div fxLayout="row wrap" class="h-padding-5">
        <div fxFlex="100">
            <ngx-datatable #table class="material" [messages]="this.tableMessages()"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="'auto'"
                           [limit]='10'
                           [rows]="this.centroList"
                           [scrollbarH]="this.scrollH">

                <ngx-datatable-column name="Acciones" [minWidth]="100" [maxWidth]="200" [draggable]="false" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button matTooltip="Actualizar Centro de Salud" (click)="this.openDialog(row)"><mat-icon fxLayoutAlign="start start" color="accent">edit</mat-icon></button>
                        <button mat-icon-button (click)="this.onChangeState(row)"><mat-icon fxLayoutAlign="start start" color="accent" matTooltip="Eliminar">delete</mat-icon></button>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nombre" [draggable]="false" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                        {{row.nombre}}
                    </ng-template>
                </ngx-datatable-column>

              <ngx-datatable-column name="Teléfono" [draggable]="false" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="validateNumber(row.telefono)">
                    <i class="fa fa-whatsapp"></i>
                    <a href="https://api.whatsapp.com/send?phone=+591 {{row.telefono}}&text=Buenos día." [target]="'_blank'">
                      {{row.telefono}}
                    </a>
                  </div>
                  <div *ngIf="!validateNumber(row.telefono)">
                    {{row.telefono}}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Zona" [draggable]="false" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                  {{row.zona}}
                </ng-template>
              </ngx-datatable-column>

                <ngx-datatable-column name="Dirección" [draggable]="false" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                        {{row.direccion}}
                    </ng-template>
                </ngx-datatable-column>

              <ngx-datatable-column name="Ubicación Geográfica" [draggable]="false" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i class="fa fa-map-o"></i>
                  <a href="https://maps.google.com/?q={{row.latitud}},{{row.longitud}}" [target]="'_blank'">
                    {{ 'Ver ubicación' }}
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Estado" [maxWidth]="200" [draggable]="false" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="{{row.estado === 'ACTIVO'?'primary-state':'warn-state'}}"><span
                    class="text-white">{{row.estado}}</span></div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</clic-page>
<ng-template #customNotification let-notificationData="notification">
    <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
