<mat-card>
  <mat-card-header class="bg-primary-theme text-white">
    <mat-card-title>{{form.controls['id'].value?"Actualizar país visitado":"Registro de país visitado"}}</mat-card-title></mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap" [formGroup]="this.form">
      <div fxFlex="100" *ngIf="!this.data.id">
        <mat-form-field>
          <mat-select placeholder="País" [formControl]="this.form.get('paisId')">
            <mat-option *ngFor="let pais of this.paises" [value]="pais.id">
              {{pais.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" *ngIf="this.data.id">
          <mat-form-field>
            <input maxlength="100" readonly matInput placeholder="País" formControlName="pais" [formControl]="this.form.get('pais')">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field>
          <input maxlength="50" matInput placeholder="Ciudad" formControlName="ciudad">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field class="picker-date-filter">
          <input matInput [matDatepicker]="fechaSalida"  placeholder="Fecha de salida"
                 [formControl]="this.form.get('fechaSalida')" readonly>
          <mat-datepicker-toggle matSuffix [for]="fechaSalida"></mat-datepicker-toggle>
          <mat-datepicker #fechaSalida></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field class="picker-date-filter">
          <input matInput [matDatepicker]="fechaLlegada"  placeholder="Fecha de retorno"
                 [formControl]="this.form.get('fechaLlegada')" readonly>
          <mat-datepicker-toggle matSuffix [for]="fechaLlegada"></mat-datepicker-toggle>
          <mat-datepicker #fechaLlegada></mat-datepicker>
        </mat-form-field>
      </div>

    </div>
    <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="5px" >
      <button mat-stroked-button color="warn" type="button" (click)="this.cancel()">Cancelar</button>
      <button mat-flat-button color="accent" type="button" [disabled]="!this.form.valid" (click)="this.save()">Guardar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
