@import '~antd/dist/antd.css';


.ant-layout {
  min-height: 100vh;
}

header.primary {
  background: #FFFFFF;

  .ant-menu {
    border-bottom: 0;

    .ant-menu-item {
      border-bottom: 0;
      margin: 4px;
      border-radius: 4px;
    }

    .ant-menu-item:hover, .ant-menu-item.ant-menu-item-selected {
      a {
        color: #FFFFFF
      }
    }
  }
}

button {

}

button.add {
  color: #777777
}

button.option {

}

button.phone {
  height: 68px;
}

button.danger {
  background-color: darkred;
  border: none;

  &:hover {
    background-color: #c00000;
  }
}

hr {
  clear: both;
  height: 3px;
  background-color: #A3BF49;
  width: 100%;
  margin: 16px 0;
  border: none;
}

div.ant-col.ant-form-item-label {
  padding: 0;
}

div.ant-form-item {
  margin-bottom: 16px;
}