<div fxShow.sm="true" fxShow.gt-sm="false" class="login-register" style="background-image:url(assets/images/background/logo.png);">
    <div class="login-register-box">
        <app-form-login (submitted)="onLogin($event)"></app-form-login>
    </div>
</div>

<div fxShow.sm="false" fxShow.gt-sm="true" fxLayout="row wrap">
  <div fxFlex="50" class="content-center">
    <app-form-login [isLoad]="this.isLoad" [error]="this.error" (submitted)="onLogin($event)"></app-form-login>
  </div>
  <div fxFlex="50" class="login-register v-align">
    <img src="assets/images/background/logo.png" alt="X" width="75%">
  </div>
</div>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
<div>
    <app-footer></app-footer>
</div>
