
.link-logo {
  /* background-image: url(assets/images/logo/mc4-logo-link.svg); */
  width: 50px;
  height: 25px;
}

.icon-footer {
  font-size: 25px;
  margin-right: 11px;
  color: #000000;
}

.text-footer {
  color: #000000;
  font-weight: 500;
}

.footer-container {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: transparent;
}

@media screen and (max-width: 960px) {
  .footer-container {
    padding-top: 35px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    white-space: pre-wrap;
    background: transparent;
  }
}
