@import "../../../../assets/styles/variable";

.finalized-job {
  text-align: center;
  background-color: $accent-theme;
  width: 100%;
  border-radius: $radius;
}

.error-job {
  text-align: center;
  background-color: $danger;
  width: 100%;
  border-radius: $radius;
}


.panel-no-content-history {
  height: 370px; min-height: 370px;
}
