<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark }">
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar color="primary" class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript: void(0);" (click)="this.toDashboard()">
                <!-- Logo icon -->
<!--                <b class="content-center-left" fxShow.xs="false" fxShow.gt-xs="true">-->
<!--                    &lt;!&ndash;You can put here icon as well // <i class="wi wi-sunset"></i> //&ndash;&gt;-->
<!--                    &lt;!&ndash; Dark Logo icon &ndash;&gt;-->
<!--                    <img src="assets/images/logo/MC4plateado.png" alt="homepage" class="dark-logo" width="60%">-->
<!--                    &lt;!&ndash; Light Logo icon &ndash;&gt;-->
<!--                    <img src="assets/images/logo/MC4plateado.png" alt="homepage" class="light-logo" width="60%">-->
<!--                </b>-->

                <b class="content-center-left">
                  <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                  <!-- Dark Logo icon -->
                  <img src="assets/images/background/logo-white.svg" alt="homepage" width="100%" class="dark-logo">
<!--                  <img src="assets/images/background/login-back.png" alt="homepage" width="120%" class="dark-logo">-->
                  <!-- Light Logo icon -->
                  <img src="assets/images/background/logo-white.svg" alt="homepage" width="100%" class="light-logo">
<!--                    <img src="assets/images/background/login-back.png" alt="homepage" width="120%" class="light-logo">-->
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
<!--                <span fxShow="false" fxShow.gt-xs class="content-center-left">-->
<!--                    &lt;!&ndash; dark Logo text &ndash;&gt;-->
<!--                    <img src="assets/images/logo/mc4text1.png" alt="homepage" class="dark-logo" width="60%">-->
<!--                    &lt;!&ndash;&lt;!&ndash; Light Logo text &ndash;&gt;&ndash;&gt;-->
<!--                    <img src="assets/images/logo/mc4text1.png" class="light-logo" alt="homepage" width="60%">-->
<!--                </span>-->
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->

        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- ============================================================== -->
        <!-- Search - style you can find in header.scss -->
        <!-- ============================================================== -->
        <!--<button mat-icon-button class="srh-btn">-->
            <!--<mat-icon>search</mat-icon>-->
        <!--</button>-->
        <!--<form class="app-search">-->
            <!--<input type="text" class="form-control" placeholder="Search &amp; enter">-->
            <!--<a class="cl-srh-btn">-->
                <!--<i class="ti-close"></i>-->
            <!--</a>-->
        <!--</form>-->
        <span fxFlex></span>
        <!-- ============================================================== -->
        <!-- app header components - style you can find in header.scss / header.components.ts-->
        <!-- ============================================================== -->
        <app-header></app-header>
        <div>{{userName}}</div>
        <!-- ============================================================== -->
        <!-- Right sidebar toggle - style you can find in rightsidebar.components.scss -->
        <!-- ============================================================== -->

        <button [matMenuTriggerFor]="profile" mat-icon-button class="m-l-20"><mat-icon class="font-30">account_circle</mat-icon></button>
        <mat-menu #profile="matMenu" class="mymegamenu">
            <button mat-menu-item (click)="toForgot()">
                <mat-icon>vpn_key</mat-icon>Cambiar Contraseña </button>
            <button mat-menu-item class="ml-xs overflow-visible" (click)="this.logout()">
                <mat-icon>exit_to_app</mat-icon> Cerrar Sesión</button>
        </mat-menu>
    </mat-toolbar>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
        [ngClass]="{'minisidebar': minisidebar}">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #snav id="snav" class="pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0"
            [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true" (close)="sidebarOpened = false"
            [perfectScrollbar]="config">

            <app-sidebar class="app-sidebar"></app-sidebar>

        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar - style you can  find in rightsidebar.components.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
            <div class="scroll">
                <mat-nav-list>

                    <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" (change)="dir = (dir == 'rtl' ? 'ltr' : 'rtl')">RTL</mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" [(ngModel)]="boxed">Boxed Layout</mat-slide-toggle>
                    </mat-list-item>
                    <!--<mat-list-item>
                    <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                  </mat-list-item>    -->
                    <mat-divider></mat-divider>
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false" class="text-danger">Red</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false" class="text-megna">Teal
                            Green</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false" class="text-info">Blue</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="dark" (change)="green = blue = danger = false">Dark</mat-checkbox>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>

        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">

                <div class="page-content">

                    <router-outlet>
                        <app-spinner></app-spinner>
                    </router-outlet>

                </div>

        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>
