.small-box {
  margin: 16px;
  border-radius: 8px;
}

.small-box {
  height: 135px;
  width: 150px;
}

.mat-checkbox-inner-container {
  height: 10px !important;
  width: 10px !important;
}
.a-toggle {
  color: black;
  margin-right: 15px;
}
