<clic-page [title]="'Logs'" (reloadEmitter)="this.ngOnInit()">
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field class="picker-date-filter">
        <input matInput [matDatepicker]="startDate" [max]="this.today" placeholder="Fecha Inicial" [formControl]="this.form.get('fechaInicial')" disabled>
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field class="picker-date-filter">
        <input matInput [matDatepicker]="endDate" [max]="this.today" placeholder="Fecha Final" [formControl]="this.form.get('fechaFinal')" disabled>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <mat-select placeholder="Tipo de Proceso" [formControl]="this.form.get('tipoProceso')" (selectionChange)="this.onProcessChange($event)">
          <mat-option *ngFor="let process of this.processList" [value]="process">
            {{process | deleteUnderline}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div [fxFlex]="this.filterFlex" class="h-padding-5">
      <mat-form-field>
        <input matInput type='text' placeholder='Texto de coincidencia' maxlength="100" [formControl]="this.form.get('message')"/>
      </mat-form-field>
    </div>
    <div fxFlex="100" class="h-padding-5">
      <button mat-flat-button color="accent" (click)="this.onSearch()">Buscar</button>
    </div>
<!--    <div fxFlex="100" *ngIf="this.render" class="p-10">-->
<!--      <mat-form-field>-->
<!--        <input matInput type='text' placeholder='Buscar...' maxlength="30" (keyup.enter)="this.onLogFilter($event.target.value)"/>-->
<!--      </mat-form-field>-->
<!--    </div>-->
    <div fxFlex="100" class="p-5">
      <ngx-datatable #table class="material" [messages]="this.tableMessages()"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [scrollbarH]="this.scrollH"
                     [externalPaging]="true"
                     [rowHeight]="'auto'"
                     [count]="this.pageControl.totalElements"
                     [offset]="this.pageControl.number"
                     [limit]="this.pageControl.size"
                     [rows]="this.pageControl.content"
                     (page)='this.setPage($event)'>

        <!--<ngx-datatable-column name="Acciones" [maxWidth]="80" [draggable]="false" [resizeable]="false">-->
          <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
            <!--<div fxLayout="row" fxFlexAlign="start start">-->
              <!--<div fxFlex="100" fxFlexAlign="center top">-->
                <!--<button mat-icon-button matTooltip="Detalles">-->
                  <!--<mat-icon color="accent" >info</mat-icon>-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <ngx-datatable-column name="Fecha Registro" [maxWidth]="250"  [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.createdDate | date: "dd/MM/yyyy H:mm"}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nivel" [maxWidth]="150"  [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.tipoLog==='INFO'" class="log-lvl-info"><span class="text-white">{{row.tipoLog}}</span></div>
            <div *ngIf="row.tipoLog==='ERROR'" class="log-lvl-error"><span class="text-white">{{row.tipoLog}}</span></div>
            <div *ngIf="row.tipoLog==='WARNING'" class="log-lvl-warning"><span class="text-white">{{row.tipoLog}}</span></div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Proceso" [maxWidth]="300" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.proceso | deleteUnderline}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Mensaje"  [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.mensaje}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</clic-page>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>
